node_modules
dist
coverage
# Keep environment variables out of version control
.env
.env.example
!.env_dev
!.env_prod

/generated/prisma

# Documentation
*.md
!docs/auth.md
!docs/field-encryption.md
# Docker
docker-compose.override.yml
